.wrap {
    background: #212730;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .block {
        text-align: center;
        color: #45a6dc;
        padding: 50px;

        img {
            display: inline-block;
            max-width: 100px;
            height: auto;
        }

    }
}