.wrap {
    background: #747e8c;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 50px 0;

    h1 {
        font-size: 18px;
    }

    p {
        display: block;
        margin-top: 20px;
        max-width: 800px;
    }

    .column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .blockWrapper {
        margin-top: 20px;
        gap: 20px;

        .block {
            display: flex;
            gap: 20px;
            margin-top: 20px;
    
            .blockContet {
                h3 {
                    font-size: 17px;
                }
    
                p {
                    margin-top: 10px;
    
                    a {
                        color: rgb(231, 218, 218);
                    }
                }
            }
        }
    }

    .contactForm {
        padding: 20px;
        label {
            color: #fff;
        }
    }


}

.phone {
    display: block;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    border-radius: 6px;
}

@media (max-width: 734px) {
    .wrap {
        padding: 20px 50px;

        .column {
            grid-template-columns: 1fr;
        }
    }
}