/* settCategory */

.settCategory {
  background: #747e8c;
  padding: 30px;
}

.settCategoryWrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px 20px;
}

.settCategoryBlock h1 {
  text-align: center;
  margin: 20px;
}

.settCategoryBlock img {
  display: inline-block;
  border-radius: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}

.settCategoryBlock h1 a {
  font-size: 25px;
  color: rgb(223, 223, 28);
}

.settCategoryBlock p {
  margin-top: 10px;
}

.settCategoryBlock p a {
  font-size: 20px;
  color: #1a1919;
}

/* controll */

.subCategory {
  background: #747e8c;
  padding: 30px;
}

/* subcategories */

.subcategories {
  padding: 50px 0 0 0;
  background-color: #747e8c;
  color: #fff;
}