.category {
  background: #433645;
  padding: 30px;
}

.wrapperCategory {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 50px 100px;
  padding: 0 70px;
  margin: 0 auto;
  border-left: 1px solid #726f6f;
  border-right: 1px solid #726f6f;
}

.wrapperCategory a {
  color: rgb(223, 223, 28);
  max-width: 70px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapperCategory a img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}
