/* achievements */

.achievements {
    background-color: #4a424b;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .achievementsWrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: 40vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .achievementsElement {
    border-left: 1px solid #726f6f;
    border-right: 1px solid #726f6f;
    padding: 0 50px;
    height: 40vh;
  
    text-align: center;
    color: #d379de;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .achievementsElement img {
    display: inline-block;
    max-width: 50px;
    height: auto;
    object-fit: cover;
  }
  
  .achievementsElement h1 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .achievementsElement p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }
  