.menu {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ffffff3a;
}

.menu a {
  text-decoration: none;
  color: rgb(223, 223, 28);
  font-size: 20px;
  font-weight: bold;

  list-style: none;
  position: relative;
  cursor: pointer;
  padding: 35px 20px;
}

.menu a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    rgba(189, 149, 232),
    rgba(0, 0, 0, 0)
  );
  height: 50px;
  width: 100%;
  display: none;
}

.menu a:hover::after {
  display: block;
}
