.wrap {
    display: inline-block;
    background-color: #fff;
    border: 1px solid rgb(35, 63, 130);
    position: relative;
    margin: 20px 10px;
    max-width: 222px;

    .head {
        display: flex;
        align-items: center;
        padding: 8px;

        p {
            background-color: #feda03;
            color: #fff;
            font-weight: 700;
            margin-right: 10px;
            border-radius: 15px;
            font-size: 13px;
            padding: 0 5px;
        }

        span {
            background-color: #233f82;
            color: #fff;
            font-weight: 700;
            border-radius: 15px;
            font-size: 13px;
            padding: 0 5px;
        }
    }

    .stock {
        padding: 8px 0;

        span {

            p {
                display: inline;
                background-color: rgb(188, 37, 26);
                color: #fff;
                font-size: 13px;
                padding: 4px;
                font-weight: bold;
                font-size: 10px;
            }

            div {
                display: inline;
                background-color: rgb(122, 185, 122);
                color: #fff;
                font-size: 13px;
                padding: 4px;
                font-weight: bold;
                font-size: 10px;
            }
        }
    }

    .images {
        padding: 8px;
        border-bottom: 1px solid rgb(41, 62, 126);

        img {
            object-fit: contain;
            max-width: 100%;
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

        }
    }

    .body {
        padding: 8px;

        p {
            color: #299ed8;
            font-weight: 400;
            font-size: 15px;
        }

        a {
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            color: #29407e;
            font-weight: 600;
            text-decoration: none;
            margin-top: 10px;
        }

        h1 {
            color: #299ed8;
            font-size: 26px;
            font-weight: 600;
            margin-top: 10px;
        }

        h3 {
            color: grey;
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
            text-decoration: line-through;
        }

        .basket {
            position: absolute;
            right: 15px;
            bottom: 16px;
            cursor: pointer;
        }
    }

}

@media (max-width: 734px) {
    .wrap {
        max-width: 300px;
    }
}