.card {
  border: 2px solid rgb(62, 88, 182);
  padding: 10px;
  position: relative;
}

.headCard p {
  display: inline-block;
  background-color: rgb(223, 223, 28);
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 30%;
  padding: 0 5px;
  font-size: 13px;
}

.headCard span {
  display: inline-block;
  background-color: rgb(62, 88, 182);
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 30%;
  padding: 0 5px;
  font-size: 13px;
  margin-left: 10px;
}

.imageCard {
  margin-top: 10px;
  border-bottom: 1px solid #747e8c;
}

.imageCard img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  min-height: 240px;
  object-fit: cover;
}

.footerCard {
  margin-top: 10px;
}

.footerCard span {
  display: block;
  color: blueviolet;
}

.footerCard h2 {
  font-size: 20px;
  color: rgb(62, 88, 182);
  margin-top: 20px;
  cursor: pointer;
}

.footerCard h2:hover {
  color: rgb(8, 17, 52);
}

.footerCard h4 {
  margin-top: 8px;
  font-size: 20px;
  color: grey;
  text-decoration: line-through;
}

.footerCard h3 {
  margin-top: 10px;
  font-size: 30px;
  color: rgb(98, 114, 174);
}

.cardShop {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 30px;
}

.cardShop img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
