/* settings */

.wrapper {
  height: 100%;
  max-width: 100%;
}

/* detail */

.detail {
  padding: 15px 0;
  background-color: #747e8c;
}

.detailWrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 50px;
}

.detailImage {
  max-width: 500px;
}

.detailHead h1 {
  font-size: 30px;
  color: chartreuse;
  text-transform: uppercase;
}

.detailHead span {
  display: inline-block;
  font-size: 30px;
  color: rgb(180, 113, 239);
  font-size: 15px;
  margin-top: 10px;
}

.detailmiddle {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.detailPrice h3 {
  font-size: 25px;
  text-decoration: line-through;
  color: #272727;
}

.detailPrice h2 {
  font-size: 35px;
  color: #4b1f97;
}

.detailControll button:nth-child(1) {
  background-color: chartreuse;
  padding: 10px 20px;
  color: #000;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

.detailControll button:nth-child(2) {
  background-color: rgb(151, 79, 227);
  padding: 10px 20px;
  color: #000;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.detailFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.detailFooter p {
  font-size: 15px;
  color: #e4e4e4;
}

.detailFooter button {
  margin-top: 10px;
  display: inline;
  border: 1px solid #e4e4e44b;
  color: #e4e4e4;
  height: 40px;
  min-width: 40px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}