.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
    margin: 50px 0;

    .image {
        img {
            display: block;
            max-width: 400px;
            height: cover;
        }
    }

    .datails {
        h1 {
            text-overflow: ellipsis;
        }

        p {
            margin-top: 10px;
            color: gray;
        }
    }

    .prices {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .price {
            h5 {
                text-decoration: line-through;
            }

            h2 {
                margin-top: 10px;
                font-size: 35px;
                color: #233f82;
            }
        }

        button {
            display: inline-block;
            background: none;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            padding: 10px 20px;
            background-color: #feda03;
            cursor: pointer;
        }
    }

    .size {
        margin-top: 20px;

        .headSize {
            font-size: 13px;
        }

        .sizeList {
            display: flex;
            margin-top: 10px;

            button {
                border: none;
                border: 1px solid #000;
                height: 20px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }

    .productDetails {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        border: 1px solid #dfdfdf;

        .productBlock {
            border-right: 1px solid #dfdfdf;

            ul {
                padding: 10px;

                li {
                    display: block;
                    font-size: 13px;
                    margin: 10px 0;
                }
            }

            .productHead {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #dfdfdf;
                padding: 10px;


                h3 {
                    margin-left: 10px;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }
    }

    .productFeature {
        border: 1px solid #dfdfdf;
        margin-top: 20px;

        .productHead {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #dfdfdf;

            h3 {
                margin-left: 10px;
                font-weight: 700;
                font-size: 14px;
            }
        }

        .productFeatureList {
            display: grid;
            grid-template-columns: 1fr 1fr;


            li {
                padding: 2px 10px;
                display: block;
                font-size: 13px;
                margin: 5px 0;
            }
        }

        .productDescList {

            li {
                padding: 2px 10px;
                display: block;
                font-size: 13px;
                margin: 5px 0;
                line-height: 1.5;
            }
        }


    }
}

.zoomContainer {
    max-width: 355px;
    overflow: hidden; 
    position: relative; 
}

.zoomImage {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
    cursor: zoom-in;

    &:hover {
        transform: scale(1.7); 
    }
}


@media (max-width: 1060px) {
    .content {
        grid-template-columns: 1fr;
    }

    .prices {
        flex-direction: column;
    }

    .datails {
        padding: 0 20px;
        margin-top: 30px;
    }

    .productDescList {
        padding: 0 20px;
    }

    .image {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}