.window {
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

.window img {
  width: 100%;
  height: 70vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.window::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: #00000069;
  z-index: -1;
}

.windowBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.windowBlock h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
}

.windowBlock button {
  display: inline-block;
  background-color: rgb(223, 223, 28);
  font-size: 25px;
  color: #fff;
  border-radius: 5px;
  max-width: 220px;
  margin-top: 40px;
  padding: 5px 10px;
}
