/* settings */

.header {
  width: 100%;
  height: 100vh;

  background-image: url(../../../images/background/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: -1;
  height: 30vh;
  width: 100%;
}

/* block */

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

/* controll */

.controll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: inline-block;
  object-fit: cover;
  max-width: 300px;
  height: auto;
}

.contacts a {
  display: flex;
}

.contacts a:not(:first-child) {
  margin-top: 10px;
}

.contacts a p {
  margin-left: 10px;
  font-size: 20px;
  color: #d0cbe484;
}

.contacts a img {
  display: inline-block;
  max-width: 30px;
  height: auto;
  object-fit: cover;
}

.account {
  display: flex;
}

.account a:not(:first-child) {
  margin-left: 10px;
}

.account a img {
  display: inline-block;
  max-width: 30px;
  height: auto;
  object-fit: cover;
}

/* content */

.sliderContainer {
  transform: translate(0, 50%);
}

.content h2 {
  display: inline-block;
  background: rgb(223, 223, 28);
  color: #000;
  font-size: 30px;
  padding: 15px;
  border-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
}

.content h1 {
  font-size: 60px;
  color: #fff;
  margin-top: 10px;
}

.content p {
  display: inline-block;
  font-size: 20px;
  background-color: #4b1f97;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 500;
  border-radius: 5px;
}

/* category */

.category {
  background: #433645;
  padding: 30px;
}

.wrapperCategory {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 50px 100px;
  padding: 0 70px;
  margin: 0 auto;
  border-left: 1px solid #726f6f;
  border-right: 1px solid #726f6f;
}

.wrapperCategory a {
  color: rgb(223, 223, 28);
  max-width: 70px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapperCategory a img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}
