.basket {
    height: 400px;
    overflow-y: auto;

    .element {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
        align-items: center;
        gap: 5px 20px;

        background-color: rgb(246, 246, 246);
        padding: 10px;

        .textield {
            max-width: 50px;
            height: 30px;
        }

        .select {
            width: 100px;
        }

        img {
            max-width: 80px;
            height: 80px;
        }

        .infoBasket {
            h4 {
                font-size: 14px;
            }

            p {
                font-size: 10px;
                color: gray;
            }

            span {
                display: block;
                font-size: 15px;
                margin-top: 7px;
            }
        }
    }
}



.buttonControll {
    display: flex;
    justify-content: right;
    padding-top: 20px;

    button {
        margin-left: 20px;
    }
}

.delete {
    cursor: pointer;
}

.basketIcon {
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;

}

.buttonPayment {
    margin-top: 20px;
    display: grid;
    width: 45%;
}

.total {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(246, 246, 246);
}

.phone {
    display: block;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    border-radius: 6px;
}